.about{
    margin-left: 15%;
    margin-right: 15%;
    justify-items: center;
    
}

main h1 {
    font-size: 36px;
    font-weight: 800;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

main p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: #1F2937;
  text-align: justify;
}

/* Responsive Image */
img.not-the-rock {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  display: block;
  margin: 1rem 0;
}


